SpiritOfAdventure/Library/
SpiritOfAdventure/SpiritOfAdventure.userprefs
SpiritOfAdventure/Assets/Scripts/GameScripts/Player.cs.orig
SpiritOfAdventure/Assets/Scripts/GameScripts/Player.cs.orig.meta
SpiritOfAdventure/Temp
*.sln
*.csproj
*.orig
SpiritOfAdventure/obj/
*.suo
*.unityproj
*.psd
/NetworkingTest/Library/ScriptAssemblies/CompilationCompleted.txt
/NetworkingTest/Library
/NetworkingTest/Obj
SpiritOfAdventure/Assets/UnityVS.meta
SpiritOfAdventure/Assets/UnityVS/Editor.meta
SpiritOfAdventure/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
SpiritOfAdventure/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
SpiritOfAdventure/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
SpiritOfAdventure/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
SpiritOfAdventure/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
SpiritOfAdventure/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
